.card_container {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  grid-gap: 20px;
  place-content: center;
  justify-content: center;
}
